<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/${db_name}</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">${db_user}</property>
        <property name="connection.password">${db_pass}</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="se.travappar.api.model.HelloWorld"/>
        <mapping class="se.travappar.api.model.Event"/>
        <mapping class="se.travappar.api.model.Track"/>
        <mapping class="se.travappar.api.model.User"/>
        <mapping class="se.travappar.api.model.Subscription"/>
    </session-factory>
</hibernate-configuration>